QYChromiumTest/QYChromiumTest.xcodeproj/xcshareddata/xcschemes/QYChromiumTest.xcscheme
QYChromiumTest/QYChromiumTest.xcodeproj/xcuserdata/yinquan.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
js/build/**
js/node_modules/**

QYChromiumTest/QYChromiumTest.xcodeproj/project.xcworkspace/xcuserdata/quanyin.xcuserdatad/UserInterfaceState.xcuserstate
QYChromiumTest/QYChromiumTest.xcodeproj/xcuserdata/quanyin.xcuserdatad/xcschemes/xcschememanagement.plist